@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --font-head: "Cal Sans", sans-serif;
    --font-body: "Google Sans Flex", sans-serif;

    --color-background: oklch(0.9829 0.0058 239.82);
}
